<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Consejos de Salud</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
<body>
	
	<header th:replace="~{layouts/header :: header}"> </header>
 main
	
<div class="conteiner">
	<section>
	<h2 class="h2Salud">Consejos de salud para cuidar el bienestar de tus mascotas</h2>
	<a th:href="@{/consejos/nuevo}">Agregar Articulo</a>
	
	<section class="sectionNoBackground" th:each="conse: ${consejos}">
		
		<section>
			<ul id="listaSecundaria">
				<li><a href="#section1" th:text="${conse.titulo}"></a></li>
			</ul>	
			
		</section>
		
		<article class="articulos">
			<section id="section1">
				<h3 th:text="${conse.titulo}"></h3>
				<h3 th:text="${conse.nombreIMG}"></h3>
				<p th:text="${conse.descripcion}"></p>
				<a th:href="@{/consejos/modificar/}+${conse.titulo}">Editar</a>
				<a th:href="@{/consejos/eliminar/}+${conse.titulo}">Eliminar</a>
			</section>
		</article>
	</section>		
	</section>
	<aside class="publicidad">
			<h2 id="h2Consejos">Cuidado de tus mascotas en temporada de frio</h2>
			<figure id="figura1Salud"></figure>
			<figure id="figura2Salud"></figure>
			<figure id="figura3Salud"></figure>
			<figure id="figura4Salud"></figure>
			<figure id="figura5Salud"></figure>
	</aside>
</div>
	<footer th:replace="~{layouts/footer :: footer}"> </footer>	

</body>
</html>