<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header>
		<h1>Todo Mascotas</h1>
		<nav>
			<ul>
				<li style="display: inline;"><a href="index.html">Inicio</a></li>
				<li style="display: inline;"><a href="./productos.html">Producto</a></li>
				<li style="display: inline;"><a href="ConsejosSaludo.html">Consejos de Salud</a></li>
				<li style="display: inline;"><a href="./ServiciosPaseo.html">Servicios de Paseo</a></li>
				<li style="display: inline;"><a href="Sucursales.html">Sucursales</a></li>
				<li style="display: inline;"><a href="./contactanos.html">Contactenos</a></li>
			</ul>
		</nav>
		<img alt="ImagenMascotas" src="../static/Images/Mascotas.jpeg" style="width: 100%">
	</header>
	<h2>Consejos de salud para cuidar el bienestar de tus mascotas</h2>
	<section>
		<ul>
			<li><a href="#section1">#Consejos para pasear durante climas cálidos</a></li>
			<li><a href="#section2">#Prevenir accidentes en el hogar</a></li>
			<li><a href="#section3">#Consejos para cuidar a un gato de edad avanzada</a></li>
			<li><a href="#section4">#Cuidar el pelaje de tu mascota, es proteger su bienestar</a></li>
		</ul>
		
	</section>
	
	
	<section id="section1">
		<h3>Consejos para pasear durante climas cálidos</h3>
		<img alt="Perro con correa" src="../static/Images/perroclima.jpg" style="width: 40%">
		
		<p>  Si vives en un lugar en donde ya comienza a subir la temperatura, 
		es necesario que te prepares de distintas maneras no solo para tu bienestar, 
		sino para que puedas seguir con tu actividad física en compañía de tu mascota, 
		especialmente al aire libre.
		</p>
		<p> Así que te dejamos una serie de consejos y recomendaciones para que cuides del bienestar 
		de tu animal de compañía: </p>
			<ol>
			
				<li> Ofrece agua a tu mascota en todo momento, incluso aunque se la tomen cada vez que lo hagas.</li>
				<li> Si ves que no lo hace, puedes llevar un bowl que conozco e incluso tomar una botella con el agua que tienes en casa.</li>
				<li> Puedes hacer uso de una sombrilla.</li>
				<li> Si tienes un canino sin pelo, consulta a tu veterinario para conocer tus opciones de bloqueador solar.</li>
				<li> Evita caminar por el asfalto que está muy caliente, ya que esto puede dañar y lastimar las almohadillas de tu perro.</li>
				<li> Considera hacer las actividades físicas dentro de tu hogar.</li>
			
			</ol>
	</section>
	
	
	<section id="section2">
		<h3>Prevenir accidentes en el hogar</h3>
		<img alt="dos perros encima de una mesa" src="../static/Images/perroscasa.jpg" style="width: 40%">
		
		<p> Muchos de los accidentes que nuestros perros o gatos pueden llegar a sufrir <strong>suceden en el hogar</strong>, ya sea por descuido o falta de conocimiento, pero si estamos preparados para afrontarlos, la mayor parte de las veces no será grave.
			La intoxicación es el más común, por lo que es importante que ante el primer síntoma — y mientras se llama al veterinario de urgencia — mantenga la calma e intentes identificar la causa.
			Algo que puede ayudar es tener siempre en el botiquín un poco de carbón activado, ya que es de gran ayuda para neutralizar los productos tóxicos en el organismo.
			Por otro lado,<strong> la Ingestión de objetos como alfileres, calcetines, plásticos pequeños, hilos, entre muchos otros</strong>, son los causantes de urgencias veterinarias, especialmente cuando las mascotas son incapaces de expulsarlos de manera natural; si este tipo de accidente compromete seriamente su vida, la cirugía se convierte en la única alternativa.
			Los cables eléctricos también representan un gran riesgo para los animales de compañía, sobre todo para los cachorros que les encanta mordisquear todo lo que encuentran y pueden llegar a confundirlos con algún juguete, por lo que debemos tener mucho cuidado, ya que pueden enredarse o morderlos recibiendo una pequeña descarga.
			Por esto, lo mejor es dejar desconectados todos aquellos aparatos que estén a la vista si no se están utilizando o cubrirlos con algún material que les dificulte el acceso. Recordemos que si llevamos un animal a nuestro hogar es porque estamos conscientes de que podemos garantizar su bienestar, así como un espacio seguro para que se desarrolle.<p>
	</section>
	
	
	<section id="section3">
		<h3>Consejos para cuidar a un gato de edad avanzada</h3>
		<img alt="Gato mirando a camara" src="../static/Images/gatocuidar.jpg" style="width: 40%">
		
		<p> Los gatos pueden tener una vida muy larga, usualmente son capaces de vivir más que otras mascotas, con un promedio alrededor de 12 a 18 años, si bien cada animal tiene un desarrollo distintos, al llegar alrededor de los 13 años se considera que estos necesitan cuidados geriátricos. 
			Con el paso de los años, el cuerpo, personalidad y capacidad de los felinos cambiar por lo que es necesario que los propietarios adapten sus cuidados de acuerdo a estas nuevas necesidades: </p>
			<ul>
				<li><strong>Alimentación: los gatos en edad avanzada necesitan un cambio en su dieta, ya que algunos alimentos tienen una gran cantidad de fósforo lo que puede provocar padecimientos renales, además de que son más propensos al sobrepeso y la obesidad, por lo que es necesario moderar sus hábitos alimenticios.</strong></li>
				<li><strong>Ejercicio: si bien sus capacidades motrices han cambiado, se recomienda que haga un par de actividades físicas para mantener en forma sus articulaciones y el peso ideal.</strong></li>
				<li><strong>Descanso: mejora su lugar de descanso, ya que a esta edad su cuerpo es más sensible, asegúrate de que este sea cómodo, en un lugar tranquilo y privado.</strong></li>
				<li><strong>Cuidados de salud: visita a tu veterinario con mayor frecuencia durante este tiempo para prevenir enfermedades.</strong></li>
			</ul>
	</section>
	<section id="section4">
		<h3>Cuidar el pelaje de tu mascota, es proteger su bienestar</h3>
		<img alt="Perro y gato mirando a camara" src="../static/Images/gatoyperro.jpg" style="width: 40%">
		
		<p> Parte de los <strong>cuidados que debemos garantizar a nuestro perro o gato están relacionados con su pelaje</strong>, no solo por higiene, sino porque esto está relacionado directamente con su salud y bienestar. 
			Una de sus principales funciones es proteger el cuerpo del animal de los distintos tipos de climas, por ejemplo, cuando hace frío actúa de aislante térmico, pues crea una capa de aire entre la piel y el ambiente.  
			Cuando hace calor el pelo de los animales ayuda a que este no llegue con tanta facilidad a su cuerpo, es por esto que por lo general los especialistas recomiendan nunca rapar a las mascotas.
			Es por estas características que <strong>debemos mantener el pelaje felino y canino sano en todo momento</strong>, sin embargo, esto no quiere decir que hay que gastar una fortuna en productos o tratamientos costosos.
			La clave para que el pelo de tu mascota esté en óptimas condiciones es una buena alimentación y procurar siempre un buen estado de salud, ambos aspectos relacionados, motivo por el que los nutrientes en su pienso deben ser los necesarios.
			También es muy importante hacer del cepillado una rutina, ya que con esto quitamos el exceso de pelo muerto y evitamos que se acumule dentro del hogar; también estimula la circulación y fortalece la relación entre ambos; lo recomendable es hacerlo al menos dos veces a la semana y siempre antes del baño.
			Respecto a este último punto, las duchas, en el caso de los perros, deben llevarse a cabo como máximo cada dos meses y cada mes como mínimo, aunque también depende del nivel de actividad física, el tipo de pelo y la suciedad que acumule; siempre hay que usar productos exclusivos para cada especie.</p>
	</section>
</body>
</html>









