<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Consejos de Salud</title>
		<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
<body>
	
	<header th:replace="~{layouts/header :: header}"> </header>
	
<div class="container">
	<aside class="publicidad float-sm-none float-md-end float-lg-end float-xl-end float-xxl-end">
			<h2 id="h2Consejos">Cuidado de tus mascotas en temporada de frio</h2>
			
			<figure class="figure">
			<img src="/Images/imagen1Salud.jpg" class="figure-img img-fluid rounded" alt="...">
			</figure>
			<figure class="figure">
			<img src="/Images/imagen2Salud.jpg" class="figure-img img-fluid rounded" alt="...">
			</figure>
			<figure class="figure">
			<img src="/Images/imagen3Salud.jpg" class="figure-img img-fluid rounded" alt="...">
			</figure>
			<figure class="figure">
			<img src="/Images/imagen4Salud.jpg" class="figure-img img-fluid rounded" alt="...">
			</figure>
			<figure class="figure">
			<img src="/Images/imagen5Salud.jpg" class="figure-img img-fluid rounded" alt="...">
			</figure>
	</aside>
	<section>
			<h2 class="h2Consejos">Consejos de salud para cuidar el bienestar de tus mascotas</h2>
			<div style="padding: 0px;" class="container text-start">
			<a class="btn btn-info" th:href="@{/consejos/nuevo}">Agregar Articulo</a>
			</div>
			<div class="container text-center">
			<div class="row justify-content-start">
			<section class="sectionNoBackground" th:each="conse: ${consejos}">
				<article class="articulos col-12">
					<section th:id="section1">
						
						<h3 th:text="${conse.titulo}"></h3>
						<h5 th:text="${conse.nombreIMG}"></h5>
						<p th:text="${conse.descripcion}"></p>
						<a class="btn btn-outline-success" th:href="@{/consejos/modificar/}+${conse.id}">Editar</a>
						<a class="btn btn-outline-danger" th:href="@{/consejos/eliminar/}+${conse.id}">Eliminar</a>
					</section>
				</article>
	</section>
	</div>
	</div>		
	</section>
	
	
</div>
	

	<footer th:replace="~{layouts/footer :: footer}"> </footer>	
	<script type="tex/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>