<!DOCTYPE html>
	<html lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Insert title here</title>
		</head>
		<body>
			<section>
				<h1>Todo Mascotas</h1>
				<nav>
				<ul>
					<li style="display: inline;"><a href="index.html">Inicio</a></li>
					<li style="display: inline;"><a href="./productos.html">Producto</a></li>
					<li style="display: inline;"><a>Consejos de Salud</a></li>
					<li style="display: inline;"><a href="./ServiciosPaseo.html">Servicios de Paseo</a></li>
					<li style="display: inline;"><a>Sucursales</a></li>
					<li style="display: inline;"><a href="./contactanos.html">Contactenos</a></li>
				</ul>
				</nav>
				<img alt="ImagenMascotas" src="../static/Images/Mascotas.jpeg" style="width: 100%">
			</section>
			
			<section>
				<h2>Contáctenos</h2>
				<p>
					3915 Av. General Belgrano. 388-4999999
					<br>
					Lunes a viernes: 9:00 a. m a 8:00 p. m.
					<br>
					Sábado a domingo: 9:00 a. m a 12:30 p. m.
					<br>
				</p>
				<ul>
					<li><a href="https://www.facebook.com/" target=_blank>Facebook</a></li>
					<li><a href="https://www.instagram.com/" target=_blank>Instagram</a></li>
					<li><a href="https://twitter.com/i/flow/login" target=_blank>Twitter</a></li>
				</ul>
				<p>
					<label for="nombre">Nombre</label>
					<input type="text" name="nombre" placeholder="Ingrese su nombre" id="nombre" required>
					<br>
					<br>
					<label for="email">Email</label>
					<input type="text" name="email" placeholder="Ingrese su email" id="email" required>
					<br>
					<br>
					<label for="ciudad">Ciudad</label>
					<input type="text" name="ciudad" placeholder="Ingrese su ciudad" id="ciudad" required>
					<br>
					<br>
					<label for="mensaje">Mensaje</label>
					<textarea id="mensaje"></textarea>
					<br>
				</p>
			</section>   
		</body>
	</html>