<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Inicio</title>
	</head>
<body>
	<header>
		<h1>Todo Mascotas</h1>
		<nav>
			<ul>
				<li style="display: inline;"><a href="index.html">Inicio</a></li>
				<li style="display: inline;"><a>Producto</a></li>
				<li style="display: inline;"><a>Consejos de Salud</a></li>
				<li style="display: inline;"><a href="./ServiciosPaseo.html">Servicios de Paseo</a></li>
				<li style="display: inline;"><a>Sucursales</a></li>
				<li style="display: inline;"><a>Contactenos</a></li>
			</ul>
		</nav>
		<img alt="ImagenMascotas" src="../static/Images/Mascotas.jpeg" style="width: 100%">
	</header>
	<div style="display: flex;">
		<section style="width: 80%">
			<h3>Mision en general</h3>
			<article>Satisfacer las necesidades de sus mascotas brindándoles un excelente trato, para mejorar la calidad de vida a través de la prestación de servicios basados en el amor, la experiencia y los conocimientos adquiridos en el comportamiento canino. Brindamos las herramientas necesarias para fortalecer el vínculo familiar, logrando así una buena convivencia y el bienestar integral. De esta manera contribuimos a que cada día exista una sociedad más comprometida y responsable sobre el cuidado y respeto por los animales.</article><br>
			<h3>Vision hacia el futuro</h3>
			<article>Ser una empresa reconocida por nuestro profesionalismo en la comercialización de los mejores productos y prestación de servicios dedicados al bienestar de las mascotas, brindándoles confianza, respeto y cariño, creando ambientes ideales para la felicidad y bienestar de nuestros clientes. Liderada por un equipo con acceso a la más alta calidad de capacitación y con una mirada colaborativa e inclusiva.</article><br>
			<h3>Brinda a tu perro lo que realmente necesita</h3>
			<article>El paseo diario es una actividad fundamental para la calidad de vida de tu mascota.
				<ul>
					<li>Ejercicio : Un perro sin ejercicio tiene energía de sobra, y salir sólo para usar el baño no es suficiente.</li>
					<li>Sociabilización : Muchos problemas de conducta y salud de los perros se deben a que pasan muchas horas en soledad.</li>
					<li>Rutina : Mantener una rutina diaria significa mejor comportamiento y mayor inteligencia para tu perro.</li>
				</ul>
			</article>
		</section>
		<aside style="width: 20%">
			<img alt="ImagenOferta1" src="../static/Images/imagen1.gif" style="width: 80%;margin:1em 2em"></img>
			<img alt="ImagenOferta2" src="../static/Images/imagen2.jpg" style="width: 80%;margin:1em 2em"></img>
		</aside>
	</div><br>
	<footer style="display: flex ; justify-content: right ; align-items: flex-end;color: rgb(100,100,100);">
		<p style="margin:0">Copyright 2023 - Todo Mascotas - Diseñado por Grupo 15 - Jujuy - Argentina</p>
	</footer>
</body>
</html>