<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Inicio</title>
	</head>
<body>
	<header>
		<h1>Articulos para Mascotas</h1>
		<nav>
			<ul>
				<li style="display: inline;"><a href="index.html">Inicio</a></li>
				<li style="display: inline;"><a>Producto</a></li>
				<li style="display: inline;"><a>Consejos de Salud</a></li>
				<li style="display: inline;"><a href="./ServiciosPaseo.html">Servicios de Paseo</a></li>
				<li style="display: inline;"><a>Sucursales</a></li>
				<li style="display: inline;"><a>Contactenos</a></li>
			</ul>
		</nav>
		<img alt="" src="../static/Images/mascotas.jpg" style="width: 100%">
	</header>
	<div style="display: flex;">
		<section style="width: 70%">
			<article style="display: flex ; justify-content: center;">Escribir Articulo 1</article><br>
			<article style="display: flex ; justify-content: center;">Escribir Articulo 2</article>
		</section>
		<aside style="width: 30%">
			<p style="display: flex ; justify-content: center">Lateral 1</p>
		</aside>
	</div>
	<footer style="display: flex ; justify-content: right ; align-items: flex-end;color: rgb(100,100,100)">
		<p>Copyright 2023 - Articulos para Mascotas - Diseñado por Grupo 15 - Jujuy - Argentina</p>
	</footer>
</body>
</html>