<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Inicio</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
<body>
	
	<header th:replace="~{layouts/header :: header}"> </header>
	
	<div class="conteiner">
		<section class="section">
			
			<article class="articulos">
				<h3>Mision en general</h3>
				<p>Satisfacer las necesidades de sus mascotas brindándoles un excelente trato, para mejorar la calidad de vida a través de la prestación de servicios basados en el amor, la experiencia y los conocimientos adquiridos en el comportamiento canino. Brindamos las herramientas necesarias para fortalecer el vínculo familiar, logrando así una buena convivencia y el bienestar integral. De esta manera contribuimos a que cada día exista una sociedad más comprometida y responsable sobre el cuidado y respeto por los animales.</p></article>
			
			<article class="articulos">
				<h3>Vision hacia el futuro</h3>
				<p>Ser una empresa reconocida por nuestro profesionalismo en la comercialización de los mejores productos y prestación de servicios dedicados al bienestar de las mascotas, brindándoles confianza, respeto y cariño, creando ambientes ideales para la felicidad y bienestar de nuestros clientes. Liderada por un equipo con acceso a la más alta calidad de capacitación y con una mirada colaborativa e inclusiva.</p></article>
			
			<article class="articulos">
				<h3>Brinda a tu perro lo que realmente necesita</h3>
				<p>El paseo diario es una actividad fundamental para la calidad de vida de tu mascota.</p>
				<ul id="listaSecundaria">
					<li>Ejercicio : Un perro sin ejercicio tiene energía de sobra, y salir sólo para usar el baño no es suficiente.</li>
					<li>Sociabilización : Muchos problemas de conducta y salud de los perros se deben a que pasan muchas horas en soledad.</li>
					<li>Rutina : Mantener una rutina diaria significa mejor comportamiento y mayor inteligencia para tu perro.</li>
				</ul>
			</article>
			
		</section>
		<aside class="publicidad">
			Ofertas
			<figure id="figura1"></figure>
			<figure id="figura2"></figure>
			<figure id="figura3"></figure>
		</aside>
	</div>
	<footer th:replace="~{layouts/footer :: footer}"> </footer>	
</body>
</html>