<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Sucursales</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
<body>
	<header>
		<h1>Todo Mascotas</h1>
		
		<ul class="slider">
            <li>
                <input type="radio" id="sbutton1" name="sradio" checked>
                <label for="sbutton1"></label>
                <img alt="ImagenMascotas" src="../static/Images/Imagen5.jpg" title="Todo Mascotas">
             </li>
            <li>
                <input type="radio" id="sbutton2" name="sradio" >
                <label for="sbutton2"></label>
                <img alt="ImagenMascotas" src="../static/Images/Imagen4.jpg" title="Todo Mascotas">
             </li>
            <li>
                <input type="radio" id="sbutton3" name="sradio">
                <label for="sbutton3"></label>
                <img alt="ImagenMascotas" src="../static/Images/Mascotas.jpeg" title="Todo Mascotas">
            </li>
        </ul>
		
		<nav id="menuPrincipal">
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="./productos.html">Productos</a></li>
				<li><a href="ConsejosSaludo.html">Consejos de Salud</a></li>
				<li><a href="./ServiciosPaseo.html">Servicios de Paseo</a></li>
				<li><a th:href="@{/sucursal/listado}" style="text-shadow: 3px 3px 6px black;">Sucursales</a></li>
				<li><a href="./contactanos.html">Contactenos</a></li>
			</ul>
		</nav>
	</header>
	<div class="conteinerSucursal">
		<section>
			<h3 th:text="${edicion}?'Modificar Sucursal':'Nueva Sucursal'"></h3><br><br>	
			<form th:action="${edicion}?@{/sucursal/modificar}:@{/sucursal/guardar}" th:object="${sucursal}" method="post">
				<label for="nombre">Nombre</label>
				<input type="text" id="nombre" name="sucursal_nombre" th:field="*{nombre}"><br><br>
				<label for="provincia">Provincia</label>
				<select id="provincia" name="sucursal_provincia" th:field="*{provincia}">
					<option value="Salta">Salta</option>
					<option value="Jujuy">Jujuy</option>
					<option value="Tucuman">Tucuman</option>
				</select><br><br>
				<label for="direccion">Direccion</label>
				<input type="text" id="djreccion" name="sucursal_direccion" th:field="*{direccion}"><br><br>
				<label for="telefono">Telefono</label>
				<input type="text" id="telefono" name="sucursal_telefono" th:field="*{telefono}"><br><br>
				<label for="email">Email</label>
				<input type="text" id="email" name="sucursal_email" th:field="*{email}"><br><br>
				<label for="fecha">Fecha de inicio</label>
				<input type="date" id="fecha" name="sucursal_fecha" th:field="*{fechaInicio}"><br><br>
				<p><input type="submit" class="button" th:value="${edicion}?'Modificar':'Guardar'"></p>
			</form>
		</section>
	</div>
	
</html>	