<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Servicios de Paseo</title>
		<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
<body>
	<header th:replace="~{layouts/header :: header}"> </header>
	<div class="container text-center" id="conteinerSucursal">
		<div class="row justify-content-center">
			<section class="col-lg-9 col-xs-6 col-xl-6" style="border: 2px solid #1c5">
				<h3 th:text="${edicion}?'Modificar Paseador':'Nuevo Paseador'"></h3><br><br>	
				<form th:action="${edicion}?@{/servicios/modificar}:@{/servicios/guardar}" th:object="${paseador}" method="post">
					<div class="row justify-content-center">
						<label for="id" hidden="true">Id</label>
						<input type="text" id="id" name="paseador_id" th:field="*{id} " hidden="true">
							<div class="text-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
						<label for="nombre">Nombre: </label>
						<input type="text" id="nombre" name="paseador_nombre" placeholder="Ingrese aqui el nombre" th:field="*{nombre}">
							<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
						<label for="apellido">Apellido: </label>
						<input type="text" id="apellido" name="paseador_apellido" placeholder="Ingrese aqui el apellido" th:field="*{apellido}">
							<div class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
						<label for="dias">Dias de Trabajo: </label>
						<select id="dias" name="dias_a_trabajar" th:field="*{dias}">
							<option value="Lunes">Lunes</option>
							<option value="Martes">Martes</option>
							<option value="Miercoles">Miercoles</option>
							<option value="Jueves">Jueves</option>
							<option value="Viernes">Viernes</option>
							<option value="Sabado">Sabado</option>
						</select><br><br>
							<div class="text-danger" th:if="${#fields.hasErrors('dias')}" th:errors="*{dias}"></div>
						
						<label for="horaMInicio">Inicio Horario en la Mañana: </label>
						<input type="time" id="horaMInicio" name="horaMañanaInicio" th:field="*{horaMInicio}">
							<div class="text-danger" th:if="${#fields.hasErrors('horaMInicio')}" th:errors="*{horaMInicio}"></div>
						<label for="horaMFin">Fin Horario en la Mañana: </label>
						<input type="time" id="horaMFin" name="horaMañanaFin" th:field="*{horaMFin}">
							<div class="text-danger" th:if="${#fields.hasErrors('horaMFin')}" th:errors="*{horaMFin}"></div>
						<label for="horaTInicio">Inicio Horario en la Tarde: </label>
						<input type="time" id="horaTInicio" name="horaTardeInicio" th:field="*{horaTInicio}">
							<div class="text-danger" th:if="${#fields.hasErrors('horaTInicio')}" th:errors="*{horaTInicio}"></div>
						<label for="horaTFin">Fin Horario en la Tarde: </label>
						<input type="time" id="horaTFin" name="horaTardeFin" th:field="*{horaTFin}">
							<div class="text-danger" th:if="${#fields.hasErrors('horaTFin')}" th:errors="*{horaTFin}"></div>
						<button type="submit" id="unicoBoton" th:text="${edicion}?'Modificar':'Guardar'"></button>
					</div>
				</form>
			</section>
		</div>
	</div>
	<script type="tex/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>	