<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body id="bodyProductos">
    <header id="headerProductos">
        <img src="../static/Images/images.png" alt="">
        <input type="search" class="headerProductos__input" placeholder="Busca lo que se te ocurra">
        <p class="headerProductos__p">Entrar</p>
    </header>
    <nav id="navProductos">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="./productos.html">Producto</a></li>
            <li><a href="./ConsejosSaludo.html">Consejos de Salud</a></li>
            <li><a href="./ServiciosPaseo.html">Servicios de Paseo</a></li>
            <li><a href="./Sucursales.html">Sucursales</a></li>
            <li><a href="./contactanos.html">Contactenos</a></li>
        </ul>
        </nav>
        <!-- img alt="ImagenMascotas" src="../imagenes/NVWQSYGX3RC7ZBEHLPLDVXA3PU.jpg" -->	
    <div id="contenedor">
        <section class="articulos__section">
            <h2>Alimentos</h2>
            <div class="div__articulos">
                <article class="articuloProductos">
                    <h3>Alimento Royal Canin Size Health Nutrition Mini Adult para perro adulto de raza pequeña sabor mix en bolsa de 7.5 kg</h3>
                    <img alt="Alimento de Perro" src="../static/Images/alimentoperro.webp">
                    <h4>Descripcion</h4>
                    <p>
                         Royal Canin produce alimentos centrados en las necesidades únicas de tu mascota, brinda una nutrición específica y eficaz, y lo ayuda a convertirse en su mejor versión
                         <br>
                    </p>			
                </article>
        
                <article class="articuloProductos">
                    <h3>Alimento Excellent Urinary para gato adulto sabor pollo y arroz en bolsa de 7.5 kg</h3>
                    <img alt="Alimento de Gato" src="../static/Images/alimentogato.webp">
                    <h4>Descripcion</h4>
                    <p class="productos_p">
                        La selección de un alimento adecuado para tu mascota es muy importante para garantizar su crecimiento, desarrollo y salud. Con esta opción de Excellent podrás cubrir las necesidades nutricionales y energéticas de tu gato.	
                        <br>
                        
                    </p>
                </article>	
            </div>
        </section>
        
        <section class="articulos__section">
            <h2 class="h2Juguetes">Juguetes</h2>
            <div class="div__articulos">
                <article class="articuloProductos">
                    <h3>Kong Extreme L Juguetes Rellenable Large Perros</h3>
                    <img alt="Juguete de Perro" src="../static/Images/jugueteperro.webp">
                    <h4>Descripcion</h4>
                    <p class="articulos__p">
                        Kong LARGE Extreme (extreme es para perros de mordida fuerte).
                        <br>
                        Para perros que pesan entre 13kg y 30kg.
                        <br>
                        Medidas aproximadas: 10.5 x 7.5 cm.
                        <br>
                        <br>
                        Beneficios principales de los juguetes Kong:
                        <br>
                        <br>
                    </p>
                </article>
                
                <article class="articuloProductos">
                    <h3>Cañita alambre resistente largo</h3>
                    <img alt="Juguete de Gato" src="../static/Images/juguetegato.webp">
                    <h4>Descripcion</h4>
                    <p class="articulos__p">
                        - Permite a su gato hacer ejercicio para mantenerse saludable y activo.
                        <br>
                        - Tiene tiras y cascabel los cuales dan un estimulo visual y auditivo.
                        <br>
                        - Cañita larga de 1,10mts
                        <br>
                        - Material y medidas: Varilla de plástico (15 cm) + Alambre de acero recubierto (80 cm) + juguete (15 cm)
                        <br>
                    </p>
                </article>
            </div>
        </section>
        
        <section class="articulos__section">
            <h2 class="h2Ropa">Ropa</h2>
            <div class="div__articulos">
                <article class="articuloProductos">
                    <h3>Buzo para perro</h3>
                    <img alt="Buzo de Perro" src="../static/Images/ropaperro.webp">
                    <h4>Descripcion</h4>
                    <p class="articulos__p">
                        Caracteristicas:
                        <br>
                        Buzo de polar
                        <br>
                        Colores: VARIOS (CONSULTAR DISPONIBILIDAD DE STOCK)
                        <br>
                        Medidas:
                        <br>
                        (las medidas de cada talle pueden variar algunos cm y los colores de los bordes tambien pueden variar)
                        <br>
                    </p>
                </article>
                
                <article class="articuloProductos">
                    <h3>Poncho Capa Buzo Abrigo Polar Mascotas Gatos</h3>
                    <img alt="Buzo de Gato" src="../static/Images/ropagato.webp">
                    <h4>Descripcion</h4>
                    <p class="articulos__p">
                        /// BENEFICIOS ///
                        <br>
                        La prenda perfecta para que tu peludito esté protegido cuando haga frío, haya viento o llueva. Ideal para cachorritos. Ayudan a prevenir que tu perro se resfríe durante el invierno.
                        <br>
                    </p>
                </article>
            </div>
        </section>
    </div>
    <footer id="footerProductos">
        <p class="footer__p">Copyright 2023 - Todo Mascotas - Diseñado por Grupo 15 - Jujuy - Argentina</p>
    </footer>
</body>
</html>