<!DOCTYPE html>
	<html lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Productos</title>
		</head>
			
		<body>
			<h1>Todo Mascotas</h1>
			<nav>
			<ul>
				<li style="display: inline;"><a href="index.html">Inicio</a></li>
				<li style="display: inline;"><a href="./productos.html">Productos</a></li>
				<li style="display: inline;"><a href="ConsejosSaludo.html">Consejos de Salud</a></li>
				<li style="display: inline;"><a href="./ServiciosPaseo.html">Servicios de Paseo</a></li>
				<li style="display: inline;"><a href="Sucursales.html">Sucursales</a></li>
				<li style="display: inline;"><a href="./contactanos.html">Contactenos</a></li>
			</ul>
			</nav>
			<img alt="ImagenMascotas" src="../static/Images/Mascotas.jpeg" title="Todo Mascotas" style="width: 100%">	
			<section>
				<h2>Alimentos</h2>
				<article>
					<h3>Alimento Royal Canin Size Health Nutrition Mini Adult para perro adulto de raza pequeña sabor mix en bolsa de 7.5 kg</h3>
					<img alt="Alimento de Perro" src="../static/Images/alimentoperro.webp" style="width: 10%">
					<h4>Descripcion</h4>
					<p>
					 	Royal Canin produce alimentos centrados en las necesidades únicas de tu mascota, brinda una nutrición específica y eficaz, y lo ayuda a convertirse en su mejor versión
					 	<br>
					 	<br>
					 	Tu mascota siempre saludable
					 	<br>
					 	Ellos son parte de la familia y nos regalan su compañía y su cariño. Para que se mantengan sanos y fuertes, una alimentación balanceada es esencial. Brindale a tu perro los nutrientes que necesita para que pueda correr, saltar y jugar todo el día.
					 	<br>
					 	Beneficios del alimento seco
					 	<br>
					 	<br>
					 	La mayor ventaja de la comida seca para mascotas es que se puede almacenar por mucho más tiempo sin que se deteriore, y evita la aparición de hongos o bacterias. Además, este tipo de alimento ayuda a eliminar el sarro y a retrasar la formación de la placa dental con el proceso de masticación y trituración.
					 	<br>
					</p>			
				</article>
		
				<article>
					<h3>Alimento Excellent Urinary para gato adulto sabor pollo y arroz en bolsa de 7.5 kg</h3>
					<img alt="Alimento de Gato" src="../static/Images/alimentogato.webp" style="width: 10%">
					<h4>Descripcion</h4>
					<p>
						La selección de un alimento adecuado para tu mascota es muy importante para garantizar su crecimiento, desarrollo y salud. Con esta opción de Excellent podrás cubrir las necesidades nutricionales y energéticas de tu gato.	
						<br>
						<br>
						Proteína para una nutrición completa
						<br>
						Alimento rico en proteína animal de alto valor biológico, contiene minerales como calcio, fósforo, potasio y hierro, vitaminas A, D y E, fibras y ácidos grasos esenciales. Estos nutrientes favorecen el fortalecimiento del sistema inmunológico de tu mascota y el correcto funcionamiento de sus sistemas vitales. Además, contribuyen a la salud de su pelo, piel y uñas y al mantenimiento de sus tendones, músculos y huesos.
						<br>
					</p>
				</article>	
			</section>
			
			<section>
				<h2>Juguetes</h2>
				<article>
					<h3>Kong Extreme L Juguetes Rellenable Large Perros</h3>
					<img alt="Juguete de Perro" src="../static/Images/jugueteperro.webp" style="width: 15%">
					<h4>Descripcion</h4>
					<p>
						Kong LARGE Extreme (extreme es para perros de mordida fuerte).
						<br>
						Para perros que pesan entre 13kg y 30kg.
						<br>
						Medidas aproximadas: 10.5 x 7.5 cm.
						<br>
						<br>
						Beneficios principales de los juguetes Kong:
						<br>
						- Es un juguete muy versátil, los adiestradores recomiendan los Kong para el entrenamiento y para problemas de comportamiento como: mordisquear, ansiedad por separación, ayuda con el programa de confinamiento.
						<br>
					</p>
				</article>
				
				<article>
					<h3>Cañita alambre resistente largo</h3>
					<img alt="Juguete de Gato" src="../static/Images/juguetegato.webp" style="width: 15%">
					<h4>Descripcion</h4>
					<p>
						- Permite a su gato hacer ejercicio para mantenerse saludable y activo.
						<br>
						- Tiene tiras y cascabel los cuales dan un estimulo visual y auditivo.
						<br>
						- Cañita larga de 1,10mts
						<br>
						- Material y medidas: Varilla de plástico (15 cm) + Alambre de acero recubierto (80 cm) + juguete (15 cm)
						<br>
					</p>
				</article>
			</section>
			
			<section>
				<h2>Ropa</h2>
				<article>
					<h3>Buzo para perro</h3>
					<img alt="Buzo de Perro" src="../static/Images/ropaperro.webp" style="width: 15%">
					<h4>Descripcion</h4>
					<p>
						Caracteristicas:
						<br>
						Buzo de polar
						<br>
						Colores: VARIOS (CONSULTAR DISPONIBILIDAD DE STOCK)
						<br>
						Medidas:
						<br>
						(las medidas de cada talle pueden variar algunos cm y los colores de los bordes tambien pueden variar)
						<br>
					</p>
				</article>
				
				<article>
					<h3>Poncho Capa Buzo Abrigo Polar Mascotas Gatos</h3>
					<img alt="Buzo de Gato" src="../static/Images/ropagato.webp" style="width: 15%">
					<h4>Descripcion</h4>
					<p>
						/// BENEFICIOS ///
						<br>
						La prenda perfecta para que tu peludito esté protegido cuando haga frío, haya viento o llueva. Ideal para cachorritos. Ayudan a prevenir que tu perro se resfríe durante el invierno.
						<br>
					</p>
				</article>
			</section>
			<footer style="display: flex ; justify-content: right ; text-align:right ; color: rgb(100,100,100);">
				<p style="margin:0">Copyright 2023 - Todo Mascotas - Diseñado por Grupo 15 - Jujuy - Argentina
				<br>Integrantes: Castellón Agustin Miqueas, Vilte Ezequiel Carlos, Correjidor Alexis Gabriel</p>
			</footer>
		</body>
	</html>