<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Inicio</title>
	</head>
<body>
	<header>
		<h1>Articulos para Mascotas</h1>
		<nav>
			<ul>
				<li style="display: inline;"><a href="index.html">Inicio</a></li>
				<li style="display: inline;"><a>Producto</a></li>
				<li style="display: inline;"><a>Consejos de Salud</a></li>
				<li style="display: inline;"><a>Servicios de Paseo</a></li>
				<li style="display: inline;"><a>Sucursales</a></li>
				<li style="display: inline;"><a>Contactenos</a></li>
			</ul>
		</nav>
		<img alt="" src="../static/Images/mascotas.jpg" style="width: 100%">
	</header>
	<h2 style="display: flex ; justify-content: center ; align-items: center">Servicios de Paseo</h2>
	<div style="display: flex ; justify-content: center;">
    <table border="1">
    	<tr>
            <th>Dia</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sabado</th>
        </tr>
        <tr>
            <th>Horario</th>
            <td>9 a 12 - 16 a 18</td>
            <td>9 a 12 - 16 a 18</td>
            <td>9 a 12 - 16 a 18</td>
            <td>9 a 12 - 16 a 18</td>
            <td>9 a 12 - 16 a 18</td>
            <td>9 a 12 - 16 a 18</td>
        </tr>
        <tr>
            <th>Pasedor</th>
            <td>Juan Perez</td>
            <td>Lucas Diaz</td>
            <td>Juan Perez</td>
            <td>Maria Gomez</td>
            <td>Lucas Diaz</td>
            <td>Roberto Vazquez</td>
        </tr>
    </table>
    </div>
</body>
</html>