<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Servicios de Paseo</title>
		<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
<body>
	<header th:replace="~{layouts/header :: header}"> </header>
	<div class="container">
		<section id="sectionServicioPaseo">
			<div class="row justify-content-center">
			    <h2 class="h2Servcios">Servicios de Paseo</h2>
			    <div class="table-responsive-xxl  table-responsive-xl table-responsive-lg table-responsive-md table-responsive-ms table-responsive-xs">
				    <table class="table table-hover table-sm">
				    	<tr class="table-active table-success">
				            <th>Nombre</th>
				            <th>Apellido</th>
				            <th>Dias de Trabajo</th>
				            <th COLSPAN="2">Horario por la Mañana</th>
				            <th COLSPAN="2">Horario por la Tarde</th>
				            <th>Acciones</th>
				        </tr> 
				        <tr th:each="pas: ${paseadores}">
							<td th:text="${pas.nombre}"></td>
							<td th:text="${pas.apellido}"></td>
							<td th:text="${pas.dias}"></td>
							<td th:text="${#temporals.format(pas.horaMInicio, 'HH:mm')}"></td>
							<td th:text="${#temporals.format(pas.horaMFin, 'HH:mm')}"></td>
							<td th:text="${#temporals.format(pas.horaTInicio, 'HH:mm')}"></td>
							<td th:text="${#temporals.format(pas.horaTFin, 'HH:mm')}"></td>
							<td>
								<a class="btn btn-outline-success" th:href="@{/servicios/modificar/}+${pas.nombre}">Editar</a>
								<a class="btn btn-outline-danger" th:href="@{/servicios/eliminar/}+${pas.nombre}">Eliminar</a>
							</td>						
						</tr>
				    </table>
			    </div>
		    </div>
		    <div style="padding: 10px;" class="container text-center">
				<a class="btn btn-info" th:href="@{/servicios/nuevo}">Ingresar Nuevo Paseador</a>
			</div>
	    </section>
    </div>
    
    <div class="container">
    <div class="row  justify-content-center">
    	<section class="col-sm-4">
    		<h3>Encuentra</h3>
    		<p>Paseadores y cuidadores calificados en tu zona</p>
    	</section>
    	<section class="col-sm-4">
    		<h3>Evalúa</h3>
    		<p>Elige días y horarios de acuerdo a tus necesidades</p>
    	</section>
    	<section class="col-sm-4">
    		<h3>Acuerda</h3>
    		<p>Negocia las condiciones de trabajo</p>
   		</section>
   		</div>
    </div>
    
    <footer th:replace="~{layouts/footer :: footer}"> </footer>	
    <script type="tex/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>