<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Servicios de Paseo</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
<body>
	<header th:replace="~{layouts/header :: header}"> </header>
	
	<h2>Servicios de Paseo</h2>
	<a th:href="@{/servicios/nuevo}">Nuevo Paseador</a>
	<div class="conteinerServiciosPaseo" >
    
    <table>
    	<tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dias de Trabajo</th>
            <th COLSPAN="2">Horario por la Mañana</th>
            <th COLSPAN="2">Horario por la Tarde</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="pas: ${paseadores}">
							<td th:text="${pas.nombre}"></td>
							<td th:text="${pas.apellido}"></td>
							<td th:text="${pas.dias}"></td>
							
							<td th:text="${pas.horaMInicio}"></td>
							<td th:text="${pas.horaMFin}"></td>
							
							<td th:text="${pas.horaTInicio}"></td>
							<td th:text="${pas.horaTFin}"></td>
							
							<td>
								<a th:href="@{/servicios/modificar/}+${pas.nombre}">Editar</a>
								<a th:href="@{/servicios/eliminar/}+${pas.nombre}">Eliminar</a>
							</td>						
					</tr>
    </table>
    </div>
    
    <div class="GuiaServicios">
    	<section class="forma">
    		<h3>Encuentra</h3>
    		<p>Paseadores y cuidadores calificados en tu zona</p>
    	</section>
    	<section class="forma">
    		<h3>Evalúa</h3>
    		<p>Elige días y horarios de acuerdo a tus necesidades</p>
    	</section>
    	<section class="forma">
    		<h3>Acuerda</h3>
    		<p>Negocia las condiciones de trabajo</p>
   		</section>
    </div>
    
    <footer th:replace="~{layouts/footer :: footer}"> </footer>	
    
</body>
</html>