<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Servicios de Paseo</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
<body>
	<header th:replace="~{layouts/header :: header}"> </header>
	
	<h2>Servicios de Paseo</h2>
	<div class="conteinerServiciosPaseo" >
    
    <table>
    	<tr>
            <th>Dia</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sabado</th>
        </tr>
        <tr>
            <th>Horario</th>
            <td>9 a 12 - 16 a 18</td>
            <td>9 a 12 - 16 a 18</td>
            <td>9 a 12 - 16 a 18</td>
            <td>9 a 12 - 16 a 18</td>
            <td>9 a 12 - 16 a 18</td>
            <td>9 a 12 - 16 a 18</td>
        </tr>
        <tr>
            <th>Paseador</th>
            <td>Juan Perez</td>
            <td>Lucas Diaz</td>
            <td>Juan Perez</td>
            <td>Maria Gomez</td>
            <td>Lucas Diaz</td>
            <td>Roberto Vazquez</td>
        </tr>
    </table>
    </div>
    
    <div class="GuiaServicios">
    	<section class="forma">
    		<h3>Encuentra</h3>
    		<p>Paseadores y cuidadores calificados en tu zona</p>
    	</section>
    	<section class="forma">
    		<h3>Evalúa</h3>
    		<p>Elige días y horarios de acuerdo a tus necesidades</p>
    	</section>
    	<section class="forma">
    		<h3>Acuerda</h3>
    		<p>Negocia las condiciones de trabajo</p>
   		</section>
    </div>
    
    <footer th:replace="~{layouts/footer :: footer}"> </footer>	
    
</body>
</html>