<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Sucursales</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
<body>

	<header th:replace="~{layouts/header :: header}"> </header>
 main
	
	<div class="conteinerSucursal">
		<section>
				
				<a th:href="@{/sucursal/nuevo}">Nueva Sucursal</a>
				<nav id="navSucursales">
				
				<h2 class="h2Salud">Sucursales</h2>
				<table>
					<tr>
						<th>Nombre</th>
						<th>Provincia</th>
						<th>Direccion</th>
						<th>Telefono</th>
						<th>Mail</th>
						<th>Fecha de inicio</th>
						<th>Acciones</th>
					</tr>
					
					<tr th:each="sucu: ${sucursales}">
							<td th:text="${sucu.nombre}"></td>
							<td th:text="${sucu.provincia}"></td>
							<td th:text="${sucu.direccion}"></td>
							<td th:text="${sucu.telefono}"></td> 
							<td th:text="${sucu.email}"></td>
							<td th:text="${#temporals.format(sucu.fechaInicio, 'dd/MM/yyyy')}"></td>
							<td>
								<a th:href="@{/sucursal/modificar/}+${sucu.nombre}">Editar</a>
								<a th:href="@{/sucursal/eliminar/}+${sucu.nombre}">Eliminar</a>
							</td>
							
					</tr>
				</table>
				</nav>
		</section>
	</div>
	<footer th:replace="~{layouts/footer :: footer}"> </footer>	
</body>
</html>