<!DOCTYPE html>
<html lang ="es">
	<head>
		<meta charset="UTF-8">
		<title>Sucursales</title>
	</head>
<body>
	<header>
		<h1>Todo Mascotas</h1>
		<nav>
			<ul>
				<li style="display: inline;"><a href="index.html">Inicio</a></li>
				<li style="display: inline;"><a href="./productos.html">Producto</a></li>
				<li style="display: inline;"><a>Consejos de Salud</a></li>
				<li style="display: inline;"><a href="./ServiciosPaseo.html">Servicios de Paseo</a></li>
				<li style="display: inline;"><a>Sucursales</a></li>
				<li style="display: inline;"><a href="./contactanos.html">Contactenos</a></li>
			</ul>
		</nav>
		<img alt="ImagenMascotas" src="../static/Images/Mascotas.jpeg" style="width: 100%">
	</header>
	<h2>Sucursales</h2>
	<div>
		Visitenos en nuestras diferentes sucursales: 
		<ul>
			<li><strong>Jujuy</strong></li>
				<ul>
					<li><strong>B° Centro</strong></li>
					<li><strong>Dirección:</strong> Av. General Belgrano 3915</li>
					<li><strong>Telefono:</strong> +5493884999999</li>
				</ul>
			<li><strong>Jujuy</strong></li>
				<ul>
					<li><strong>B° Bajo la viña</strong></li>
					<li><strong>Dirección:</strong> Belgrano 1530</li>
					<li><strong>Telefono:</strong> +5493885167839</li>
				</ul>
			<li><strong>Salta</strong></li>
				<ul>
					<li><strong>B° Centro</strong></li>
					<li><strong>Dirección:</strong> Balvin 1030</li>
					<li><strong>Telefono:</strong> +5493884192238</li>
				</ul>
		</ul>
	</div>
</body>
</html>