/*@charset "ISO-8859-1";*/
*{						 /*Quitar todo margen y padding predefinidos*/
	margin: 0px;
	padding: 0px;
}

body{					/*Capa base de toda pagina*/
	 background: radial-gradient(#fdbb2d, #22c1c3);
	 font-family: sans-serif;
	 font-style: italic;
}

header{					/*Cabecera, se aplica margenes der e izq en 40px*/
	margin: 20px 40px;
}

h1{						 /*Titulo Principal de Pagina*/
	font-size:40px;
	font-family:Times New Roman,Arial,Helvetica; 
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
	text-shadow: 3px 3px 6px white;
}


#menuPrincipal{			/*id de nav, se aplica margen y centrado de toda la barra de navegacion*/
	margin:20px;
	text-align: center;
}

#menuPrincipal ul li{   /*Se trabaja sobre lista quitando estilo predefinido, alineando lista y aplicando margen entre cada elemento de lista*/
	list-style:none;
	display: inline;
	margin:20px;
}

header a{ text-decoration: none;      /*Se Quita estilos de texto predefinido(subrayado) y se aplica color blanco al texto*/            
          font-weight: bold ; 
          color: white;
          }
          
header a:hover{ color: #93ebeb; }               

#menuPrincipal li:nth-child(1){
	color: #93ebeb;
	text-shadow: 3px 3px 6px black;
}

.conteiner{						/*div que contiene un section y un aside, se aplica los mismos margenes al igual que a header*/
	display: flex;
	margin: 20px 40px;
}

.section{						/*section que Contiene a todos los articulos*/
	width: 80%;
	background-image: linear-gradient( 0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2) ),url("../Images/imagenfondo.jpg");
	background-position: center;
  	background-size: cover;
  	background-repeat:no-repeat ;
  	max-width: 100%;
  	
}

.articulos{
	
	margin: 50px 60px;
	border: 1px solid white;
	padding:20px;
	
}

h3{
	margin: 10px 10px;
	
}

#listaSecundaria, p{
	text-shadow: 0 0 3px white;
	font-weight: bold ;
}

#listaSecundaria li{
	margin: 10px 20px;
}

.publicidad{
	width: 20%;                 
    font-weight: bold ; 
    text-align: center;
    color: white;
}

#figura1{
	height:30%;
	margin:15px;
	background-image:url("../Images/imagen1.gif");
	background-position: center;
  	background-size: 100%;
  	background-repeat:no-repeat ;
  	
}

#figura2{
	height:30%;
	margin:15px;
	background-image:url("../Images/Imagen2.jpg");
	background-position: center;
  	background-size: 100%;
  	background-repeat:no-repeat ;
  		
}

#figura3{
	height:30%;
	margin:15px;
	background-image:url("../Images/Imagen3.jpg");
	background-position: center;
  	background-size: 100%;
  	background-repeat:no-repeat ;
  		
}

footer{
	text-align:right ; 
	color: rgb(100,100,100);
}



.slider{
    width: 100%;
    height: 300px;
    margin: 0px;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.7s;
}

.slider input[type="radio"] {
    position: relative;
    z-index: 50;
    margin: 10px;
    opacity:0.4;
}

.slider input[type="radio"]:checked ~ img {
   opacity: 1; 
}

/* ACA COMIENZA EL CSS DE PRODUCTOS*/

#bodyProductos {
    background: radial-gradient(#fdbb2d, #22c1c3);
}


#headerProductos {
   background-color: white;
    width: 1325px;
    height: 100px;
    margin: auto;
    text-align: center;
    display: flex;
}

#navProductos ul {
    display:flex;
    line-height: 50px;
    list-style: none;
}

#navProductos ul li {
    margin: auto;
    
}

#navProductos ul li a:hover {
    color: aquamarine;
}

#navProductos ul li :link {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin:auto;
    color: black;
    
}

#navProductos ul li :visited {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin:auto;
    color: black;
}

#contenedor {
    background-color: white ;
    width: 1325px;
    margin: auto;
    border: 1px solid grey;
    box-shadow: 0 4px 15px 0 lightblue;

}

.articulos__section {
    width: 1325px;
    
}

.articuloProductos {
    width: 485.84px;
    height: 500px;
    margin: auto;
    background-color: bisque;
    border: 2px solid black;
    box-shadow: 2px 4px 15px 0 black;
}

#ar {
	font-size:15px
	
}

.articulos__section h2 {
    font-size:40px;
	font-family:Times New Roman,Arial,Helvetica; 
	font-style: italic;
	font-weight: bold;
	text-shadow: 3px 3px 6px black;
    height: 150px;
    text-align: center;
    line-height: 100px;
}

.div__articulos {
    display: flex;
    text-align: center;
    margin: auto;
}


.articuloProductos img {
    width: 300px;
    height: 300px;
    margin: auto;
}

#navProductos {
    background-color: white;
    width: 1325px;
    height: 50px;
    margin: auto;   
}



.headerProductos__input {
    width: 1000px;
    height: 50px;
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

#headerProductos img {
    height: 100px;
}

.headerProductos__p {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 35px;
}

#footerProductos {
    font-size: 30px;
    height: 90px;
    background: radial-gradient(#fdbb2d, #22c1c3);
    border: 1px solid gray;
    width: 1325px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 4px 15px 0 lightblue;
}

.h2Juguetes {
    padding-top: 90px;
}

.h2Ropa {
	padding-top: 90px;
}

/* ACA COMIENZA LA CSS DE CONSEJOSSALUD*/

.sectionNoBackground{						/*section que Contiene a todos los articulos, aplica sin background*/
	width: 80%;
	background-position: center;
  	background-size: cover;
  	background-repeat:no-repeat ;
  	max-width: 100%; 	
}

ul a:hover{
	color: #93ebeb; 
	text-shadow: 0 0 1px white;
	}

ul a:active{
	color: #fdbb2d;
	text-shadow: 0 0 1px white;
}

.h2Salud {
	font-size:30px;
	font-family:Times New Roman,Arial,Helvetica; 
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
	text-shadow: 3px 3px 6px white;
}

#figura1Salud{
	height:8%;
	margin:15px;
	background-image:url("../Images/imagen1Salud.jpg");
	background-position: center;
  	background-size: 97%;
  	background-repeat:no-repeat ;
  	
}

#figura2Salud{
	height:8%;
	margin:15px;
	background-image:url("../Images/imagen2Salud.jpg");
	background-position: center;
  	background-size: 100%;
  	background-repeat:no-repeat ;
  		
}

#figura3Salud{
	height:8%;
	margin:15px;
	background-image:url("../Images/imagen3Salud.jpg");
	background-position: center;
  	background-size: 100%;
  	background-repeat:no-repeat ;
  		
}

#figura4Salud{
	height:8%;
	margin:15px;
	background-image:url("../Images/imagen4Salud.jpg");
	background-position: center;
  	background-size: 100%;
  	background-repeat:no-repeat ;
  		
}

#figura5Salud{
	height:8%;
	margin:15px;
	background-image:url("../Images/imagen5Salud.jpg");
	background-position: center;
  	background-size: 100%;
  	background-repeat:no-repeat ;
  		
}

#h2Consejos {
	font-size:30px;
	font-family:Times New Roman,Arial,Helvetica; 
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
	text-shadow: 3px 3px 6px black;
}

/*ACA COMIENZA CONTACTANOS */

#bodyContacto {
    background: radial-gradient(#fdbb2d, #22c1c3);
}


#headerContacto {
    height: 405.455px;
    width: 1144.550px;
    margin: auto;
    
}


#headerContacto h1 {
    font-size:40px;
	font-family:Times New Roman,Arial,Helvetica; 
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
	text-shadow: 3px 3px 6px white;
    
}

#headerContacto a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#headerContacto a:hover{
    color: aquamarine;
}


#navContacto {
    margin:20px;
	text-align: center;
}

#navContacto li:nth-child(1) {
    color: #93ebeb;
	text-shadow: 3px 3px 6px black
}

#navContacto ul li {
    list-style:none;
	display: inline;
	margin:20px;
}

#sectionContacto {
    background: transparent;
    height: 700px;
    width: 700px;
    margin: auto;
    border: 2px solid #1c5;
}

#sectionContacto h2 {
    color: black;
    text-align: center;
}

#sectionContacto ul {
    padding-left: 30px;
}

#section__imagen {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

#navContactos__section {
    padding: 10px;
}

.texto__section {
    padding: 10px;
    background: transparent;
}

#section__imagenDiv {
        height: 100px;
        width: 500px;
        text-align: center;
        padding: 20px;
}

#sectionpContacto__section ul{
    margin: auto;
}

#asideContacto{
    background: transparent;
    margin: auto;
    width: 700px;
    height: 700px;
    text-align: center;
    border: 2px solid #1c5;

}

#asideContacto img {
    display: block;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: auto;
}



#contenedorContacto2 {
    width: 1144.550px;
    height: 700px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    
}

#contendor__input {
    text-align: center;
}

#contendor__input input {
    background: transparent;
    width: 500px;
    height: 50px;
    margin: 6px 0;
    border: none;
    border-bottom: 2px solid #1c5;
}

#contendor__input input:focus {
    background: linear-gradient(to bottom,transparent,#b8b7b7);
    outline: none;
    border-bottom: 2px solid #5f9;
}

#contenedorContacto2 button[type="submit"]{
    background-color: #094;
    border: none;
    border-bottom: 2px solid #1c5;
}


#unicoBoton {
    width: 500px;
    height: 50px;
}

#footerContacto {
    display: block;
    background: radial-gradient(#fdbb2d, #22c1c3);
    width: 1144.550px;
    height: 50px;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    text-align: end;
    line-height: 50px;

}

#mensaje {
    background: linear-gradient(to bottom,transparent,#333);
    width: 500px;
    height: 50px;
    margin: 6px 0;
    border: none;
    border-bottom: 2px solid #1c5;
}

#mensaje:focus {
    background: linear-gradient(to bottom,transparent,#b8b7b7);
    outline: none;
    border-bottom: 2px solid #5f9;
}


.slider{
    width: 100%;
    height: 300px;
    margin: 0px;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.7s;
}

.slider input[type="radio"] {
    position: relative;
    z-index: 50;
    margin: 10px;
    opacity:0.4;
}

.slider input[type="radio"]:checked ~ img {
   opacity: 1; }