*{						 /*Quitar todo margen y padding predefinidos*/
	margin: 0px;
	padding: 0px;
}

body{					/*Capa base de toda pagina*/
	 background: radial-gradient(#fdbb2d, #22c1c3);
	 font-family: sans-serif;
	 font-style: italic;
}

header{					/*Cabecera, se aplica margenes der e izq en 40px*/
	margin: 20px 40px;
}

h1{						 /*Titulo Principal de Pagina*/
	font-size:40px;
	font-family:Times New Roman,Arial,Helvetica; 
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
	text-shadow: 3px 3px 6px white;
}


#menuPrincipal{			/*id de nav, se aplica margen y centrado de toda la barra de navegacion*/
	margin:20px;
	text-align: center;
}

#menuPrincipal ul li{   /*Se trabaja sobre lista quitando estilo predefinido, alineando lista y aplicando margen entre cada elemento de lista*/
	list-style:none;
	display: inline;
	margin:20px;
}

header a{ text-decoration: none;      /*Se Quita estilos de texto predefinido(subrayado) y se aplica color blanco al texto*/            
          font-weight: bold ; 
          color: white;
          }
          
header a:hover{ color: #93ebeb; }               


.conteiner{						/*div que contiene un section y un aside, se aplica los mismos margenes al igual que a header*/
	display: flex;
	margin: 20px 40px;
}

.section{						/*section que Contiene a todos los articulos*/
	width: 80%;
	background-image: linear-gradient( 0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2) ),url("../Images/imagenfondo.jpg");
	background-position: center;
  	background-size: cover;
  	background-repeat:no-repeat ;
  	max-width: 100%;
  	
}

.articulos{							/*cada articulo posee una etiqueta h3 y cuerpo del articulo*/
	margin: 50px 60px;
	border: 1px solid white;
	padding:20px;
}

h3{ margin: 10px 10px; }

#listaSecundaria, p{            	/*Estilo Lista del tercer articulo*/
	text-shadow: 0 0 3px white;
	font-weight: bold ;
}

#listaSecundaria li{
	margin: 10px 20px;
}

.publicidad{						/*Espacio que ocupara aside*/
	width: 20%;                 
    font-weight: bold ; 
    text-align: center;
    color: white;
}

#figura1, #figura2, #figura3{      /*Estilo Imagenes del aside*/
	height:30%;
	margin:15px;
	background-position: center;
  	background-size: 100%;
  	background-repeat:no-repeat ;
}

#figura1{ background-image:url("../Images/imagen1.gif"); }  

#figura2{ background-image:url("../Images/Imagen2.jpg"); }

#figura3{ background-image:url("../Images/Imagen3.jpg"); }

footer{									/*Pie de pagina*/
	text-align:right ; 
	color: rgb(100,100,100);
}

.slider{
    width: 100%;
    height: 300px;
    margin: 0px;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.7s;
}

.slider input[type="radio"] {
    position: relative;
    z-index: 50;
    margin: 10px;
    opacity:0.4;
}

.slider input[type="radio"]:checked ~ img {
   opacity: 1; 
}

/*PRODUCTOS*/

#contenedor {
    background-color: transparent ;
    width: 1325px;
    margin: auto;
    border: 1px solid grey;
    box-shadow: 0 4px 15px 0 lightblue;
}


#articuloProductos {
    width: 485.84px;
    height: 450px;
    margin: auto;
    background-color: bisque;
    border: 2px solid black;
    box-shadow: 2px 4px 15px 0 black;
}



/*CONSEJOSSALUD*/

.sectionNoBackground{						
	width: 80%;
	background-position: center;
  	background-size: cover;
  	background-repeat:no-repeat ;
  	max-width: 100%; 	
}

ul a:hover{
	color: #93ebeb; 
	text-shadow: 0 0 1px white;
	}

ul a:active{
	color: #fdbb2d;
	text-shadow: 0 0 1px white;
}

ul#listaSecundaria{margin:20px 60px;}

.h2Salud, .h2Consejos,.h2Servcios,.h2Alimentos {
	font-size:30px;
	font-family:Times New Roman,Arial,Helvetica; 
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
	text-shadow: 3px 3px 6px white;
	text-align: center;
}

/**#figura1Salud,#figura2Salud,#figura3Salud,#figura4Salud,#figura5Salud{
	height:8%;
	margin:15px;
	
	background-position: center;
  	background-size: 100%;
  	background-repeat:no-repeat ;}

#figura1Salud{
	background-image:url("../Images/imagen1Salud.jpg");	
}

#figura2Salud{
	background-image:url("../Images/imagen2Salud.jpg");	
}

#figura3Salud{
	background-image:url("../Images/imagen3Salud.jpg"); 		
}

#figura4Salud{
	background-image:url("../Images/imagen4Salud.jpg");		
}

#figura5Salud{
	background-image:url("../Images/imagen5Salud.jpg");		
}**/

/**#h2Consejos {
	font-size:30px;
	font-family:Times New Roman,Arial,Helvetica; 
	font-style: italic;
	font-weight: bold;
	margin-top:200px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:0px;
	text-shadow: 3px 3px 6px black;
}**/

/*CONTACTANOS */

.container input {
    background: transparent;
    width: 500px;
    height: 50px;
    margin: 6px 0;
    border: none;
    border-bottom: 2px solid #1c5;
}

.container input:focus {
    background: linear-gradient(to bottom,transparent,#b8b7b7);
    outline: none;
    border-bottom: 2px solid #5f9;
}



#unicoBoton {
    width: 500px;
    height: 50px;
    background-color: #094;
    border: none;
    border-bottom: 2px solid #1c5;
}


#mensaje {
    background: linear-gradient(to bottom,transparent,#333);
    width: 500px;
    height: 50px;
    margin: 6px 0;
    border: none;
    border-bottom: 2px solid #1c5;
}

#mensaje:focus {
    background: linear-gradient(to bottom,transparent,#b8b7b7);
    outline: none;
    border-bottom: 2px solid #5f9;
}
   
/*Servicios de Paseo*/



.conteinerServiciosPaseo{
	margin: 20px 40px;
	justify-content: center ;
	display: flex;
	
}


table, th, td {
	border: 1px solid;
	justify-content: center ;
	align-items: center;
	text-align: center;
}
th,td{
	padding:10px;
}


.GuiaServicios{
	margin: 30px 40px;
	display:flex;
	justify-content: center ;
	align-items: center;
	text-align: center;
}

.forma{
	width: 33%;
	
}

/*SUCURSALES*/

#navSucursales  {
	
	padding:20px;	
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	display: flex;
  	flex-direction: column;
  	
}

.conteinerSucursal{
	margin: 20px 40px;
	
}
.sectionNuevo{
	align-items: center;
	justify-content: center ;
	display: flex;
}
.nuevoIngreso{
	align-items: center;
	margin: 20px;
}

form{
	margin: 10px auto;
	width: 350px;
	color: #3b3b3b;
}
input{
	outline: none;
	border:0;
	padding:10px;
	margin:5px;
	width:90%;
}
label{
	margin:5px;
}
.center-content{
	text-align:center;	
}
.button{
	background-color: #3CC93F;
}